* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial;
}


.container {
	height: 60px;
	background: green;
}

.nav-logo-container {
	font-weight: bolder;
	display: inline;
	padding: 15px;
	float: left;
	font-size: 20px;
	letter-spacing: 1.5px;
	cursor: pointer;
}


.nav-left-items-container > ul{
	float: left;
	display: block;
	margin-left: 100px;
}

.nav-left-items-container ul li {
	list-style-type: none;
	float: left;
	padding: 18px;
	position: relative;
}

.nav-left-items-container ul li a {
	text-decoration: none;
	color: black;
	padding: 10px;
}

.nav-left-items-container ul li a:hover {
	background: white;
}

/* Libraries dropdown */
.nav-left-items-container ul li ul {
	display: none;
	position: absolute;
	margin-top: 16px;
	border-left: 1px solid green;
	border-right: 1px solid green;
	border-bottom: 1px solid white; 
}

.nav-left-items-container ul li ul li {
	display: block;
	background: green;
	width: 160px;
}	

.nav-left-items-container ul li:hover ul {
	display: block;
	border-radius: 0px 0px 5px 5px;
}

/* Right Items Login - Register */
.nav-right-items-container ul{
	float: right;
	display: block;
}

.nav-right-items-container ul li{
	display: inline;
	position: relative;
	padding: 18px;
	float: right;
}

.nav-right-items-container ul li a{
	padding: 10px;
	color: black;
	text-decoration: none;
	margin-right: 10px;
}

.nav-right-items-container ul li a:hover {
	background: white;
}


/* SideBar Container */
.side-main-container {
	width: 14%;
	max-width: 14%;
	height: 100vh;
	padding: 8px;
	background: #f2f2f2;
	display:inline-block;
}
.sidebar-container {
	width: 260px;
	display: inline-block;
}

.sidebar-container ul li a:hover{
	background: #f2f2f2;
}

/*Alternate Items List */
.package-container {
	padding: 13px;
	/*margin-top: 5px;*/
	display: block;
	/*background: green;*/
}

.package {
	padding: 12px;
	text-transform: capitalize;
	position: relative;
	white-space: nowrap;
}

.package:hover {
	cursor: pointer;
	background: white;
	border-radius: 2px;
}

.package-tooltip {
	margin-left: 10px;
	padding: 5px;
	background: lightcyan;
	font-size: 8px;
	letter-spacing: 1px;
	border-radius: 2px;
	font-weight: bolder;
	visibility: hidden;
	position: absolute;
	top: -30%;
	left: 5%;
	border: 0.5px solid black;
	width: max-content;
}

.package:hover .package-tooltip{
	visibility: visible;
}

/*Search Bar */
.search-container {
	height: 45px;
	width: auto;
	max-width: 14%;
	/*background: ;*/
	padding: 3px;
	/*border-top: 0.5px solid grey;*/
}

.search-text {
	display: inline-block;
	font-weight: 20px;
	width: 170px;
	float: left;
	margin: 5px 0px 0px 5px;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	border-radius: 0px 0px 0px 0px;
}

.search-button {
	display: inline-block;
	position: absolute;
	padding: 8px;
	box-sizing: border-box;
	margin: 5px 0px 0px 0px;
	cursor: pointer;
}

.search-button:hover {
	background: lightcyan;
}

.main-content {
	height: 100vh;
	width: 50%;
	background: #f3f3f3;
	color: black;
	display: inline;
	position: absolute;
	margin: 0px 0px 0px 5px;
	z-index: -1;
	box-shadow: 5px 5px 5px black 0.2px;
	opacity: 1px;
}

.heading-container {
	width: 94%;
	height: 20px;
	padding: 15px;
	background: #ffdb93;
	text-align: start;
	margin: 10px 10px 0px 10px;
	font-size: 20px;
	font-family: "Arial";
}

.question-what {
	
}
