body {
	margin: 0px;
	padding: 0px;
}

.header {
	width: 100%;
	height: 60px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
	background: black;
	color: white;
	text-align: center;
	padding: 20px;
	box-shadow: 1px 1px 0.5px white;
}

.main-container {
	margin: 50px auto auto auto;
	width: 30%;
	height: 50vh;
	border: 1px solid yellow;
	box-sizing: border-box;
	border-radius: 4px;
	background: black;
	box-shadow: 1px 1px 0.5px white;
}

.sub-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	box-sizing: border-box;
	/*border: 1px solid cyan;*/
	padding: 5px;
}

.display-container {
	display: flex;
	width: 100%;
	height: 60px;
	border: 1px solid cyan;
	box-sizing: border-box;
	margin: 5px 20px 5px auto;
	border-radius: 4px;
	box-shadow: 1px 0.5px 1px white;
	color: white;
	align-items:center;
	font-weight: bolder;
	font-size: 30px;
	padding: 0px 0px 0px 10px;
}

.numerical-container {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	/*border: 1px solid cyan;*/
	/*box-shadow: 1px 0.5px 0.5px white;*/
	border-radius: 4px;
}

.digits,  .status {
	display: flex;
	width: 68.5px;
	height: 67.5px;
	margin: 6px 6px 6px 6px;;
	border: 1px solid cyan; 
	color: white;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bolder;
	box-shadow: 1px 1px 0.5px white;
	border-radius: 4px;
	cursor: pointer;
}

#on {
	background: #00ffaa;
	color: black;
	box-shadow: 1px 1px 0.5px #00ffaa;
}

#off {
	background: red;
	color: black;
	box-shadow: 1px 1px 0.5px red;

}

.digits:active {
	background: cyan;
	color: black;
}
